extends layout

block content
	h1= title
	br
	form(method='post', action='/login')
		|login: 
		input(name='login', type='login')
		br
		|pass: 
		input(name='pass', type='password')
		br
		input(type='submit' value='enter')
